{% extends "layout.html" %} {% block sub_header %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">
      Blog sobre Desenvolvimento de Sistemas Web
    </h1>
    <p class="lead my-3">
      Acompanhe as últimas tendências e conteúdos incríveis.
    </p>
  </div>
</div>
{% endblock %} {% block content %}
<!-- Loop para exibir os posts principais -->
<div class="blog-main">
  {% for post in posts %}
  <div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">
      {{ post.created_at|date:"d, M Y" }} por {{ post.author.username }}
    </p>
    <p>{{ post.summary|safe }}</p>
    <div>{{ post.content|safe }}</div>
    {% if post.image %}
    <img
      src="{{ post.image.url }}"
      alt="{{ post.title }}"
      style="width: 100%; height: auto"
    />
    {% endif %}
    <div class="upvote">
      <a href="{% url 'post_like' post.id %}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#000000"
          viewBox="0 0 256 256"
          class="upvote-button"
        >
          <path
            d="M229.66,114.34l-96-96a8,8,0,0,0-11.32,0l-96,96A8,8,0,0,0,32,128H72v80a16,16,0,0,0,16,16h80a16,16,0,0,0,16-16V128h40a8,8,0,0,0,5.66-13.66ZM176,112a8,8,0,0,0-8,8v88H88V120a8,8,0,0,0-8-8H51.31L128,35.31,204.69,112Z"
          ></path>
        </svg>
      </a>
      <span class="upvote-count">{{ post.number_of_likes }}</span>
    </div>
  </div>
  {% endfor %}
  <a href="{% url 'create_post' %}" class="link-createPost"
    >Criar nova postagem</a
  >
</div>

{% endblock%}
